
.pc{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.pc>*{
    box-sizing: border-box;
    
}

.main.pc{
    display: block;
}
.process-main.pc {
/*    padding: 1%;*/

    display: flex;
}

.process-container.pc {
    height: 120px;
    background: #e8e8e8;
    width: 97%;
    border-radius: 2px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
    position: relative;
}
.process-container.pc>* {
    margin-right: 10px;
}

.process-container.pc>*:nth-last-child(2) {
    margin-right: 0px;
}

.memory-info.pc {
    color: black;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 2px;
}

.mb.pc {
    font-weight: 800;
    color: black;
    margin-left: 5px;
}
