.fixed {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.process-block.fixed {
    
    height: 80px;
    background: white;
    width: 20px;
    /*    margin-right: 5px;*/
    margin-top: 16px;
    padding: 1px;
    flex: 1;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    display: flex;
    text-align: center;
}

.process-block.fixed p span  {
    color: black;
}

.mb.fixed {
    font-weight: 700;
    color: black;
    margin-left: 5px;
}

.process-used.fixed {
    display: inline-block;
    border-style: dashed;
    height: 100%;
    width: 70%;
    border-width: 3.5px;
    border-style: solid;
    border-color: #011627;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    padding-top: 12px;
    min-width: 90px;
}

.process-fragment.fixed {
    margin-left: 2px;
    display: inline-block;
    border-style: dashed;
    height: 100%;
    width: 20%;
    border-width: 3.5px;
    border-style: solid;
    border-color: #f71735;
    border-radius: 5px;
    text-align: center;
    line-height: 4.4;
    min-width: 60px;
}

.process-fragment.fixed>.size.fixed {
    color: #f71735;
    font-size: .9em
}

.process-fragment.fixed>.size.fixed>.mb.fixed {
    color: #f71735;
}

.info.fixed {
    display: inline-block;
}

.size.fixed,
.pid.fixed {
    color: #011627;
    margin-bottom: 10px
}

.empty.fixed {
    height: 80px;
    background: white;
    width: 20px;
    margin-right: 5px;
    margin-top: 16px;
    padding: 1px;
    flex: 1;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty.fixed>p {
    color: gray;
    text-align: center;
}