.main.round-button>* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(149, 152, 154);
    font-family: Segoe UI;
}

.main.round-button {
    display: block;
}

.start.round-button {
    border-radius: 25px;
    border: none;
    width: 130px;
    height: 50px;
    display: inline-block;
    background-color: white;
    text-align: center;
    color: black;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    color: rgb(149, 152, 154);
    font-size: 20px
}

.start.round-button:active {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
}

.start.round-button:focus {
    outline: 0;
}