.block{
    margin-bottom: 100px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
    
}

.block h1{
    /* font-weight: 600; */
    color: rgb(149, 152, 154);
    font-family: Segoe UI;
    
}